<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<p>You should do an lti tool launch at /lti_tool</p>
<p>For none authentication is required. So that, any consumer and secret key can be added.</p>
<!--
<p>For now you can just use the following consumer and secret keys:</p>
 <ul>
  <li>Consumer key: <b>consumer_key</b></li>
  <li>Secret key: <b>secret_key</b></li>
</ul> -->

<p>You can get the configuration XML here: <a href="/tool_config.xml">LTI Config</a></p>
<!--
<p>
  You can perform a signature verification test for your own tool with this config:
  <a href="/tool_config.xml?signature_proxy_test=1">Signature Test Config</a>
</p>
-->
</body>
</html>
