<html lang="en">
  <head>
    <title>List of Prezi presentations to embed on LTI Consumer systems</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.3.min.js" type="application/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/loader.css">

    <script type="application/javascript">
    var url_to_embed, lti_type
    $(document).ready(function() {
      url_to_embed = "<%= return_embed_url %>", lti_type = "<%= lti_type %>"
    });
    </script>
    <script src="coffee/main.js" type="application/javascript"></script>
  </head>
  <body>
    <main class="container">

      <nav class="navbar navbar-default navbar-static-top">
        <div class="container row">
          <a class="navbar-brand col-md-3 col-xs-12 text-center" href="#">Prezi LTI for Canvas</a>
          <div class="input-group navbar-btn col-md-9 col-xs-12">
            <input type="text" id="search_prezi" class="form-control" placeholder="What are you looking for on Prezi.com?" autofocus>
            <span class="input-group-btn">
              <button id="search_prezi_trigger" class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </nav>

      <section class="search-feed row">
      </section>

      <div class="row" style="padding:10px 0px; display: none;">
          <button id="bt_call_for_more" class="btn btn-info btn-lg col-xs-4 col-xs-offset-4">More</button>
      </div>

    </main>

    <footer>
      <p style="text-align:center; margin-top:30px">Created by <a href="https://www.facebook.com/Hernnani" target="_blank">Hugo Hernani</a>. Portfolio <a href="http://hhernanni.webfactional.com" target="_blank">here</a>.</p>
    </footer>
  </body>
</html>
