<html lang="en">
  <head>
    <title>Embeded presentation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.3.min.js" type="application/javascript"></script>
    <script src="javascript/prezi_player.js" type="application/javascript"></script>
    <script>
    var prezi_id, url_to_embed, show_buttons
    $(document).ready(function(){
      prezi_id = "<%= prezi_id %>", url_to_embed = "<%= return_embed_url %>", show_buttons = <%= url_to_embed_sent %>
    });
    </script>
    <script src="coffee/embeded.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/show_presentation.css">
  </head>
  <body>
    <main id="prezi-content">
        <div id="prezi-player"></div>
    </main>
  </body>
</html>
