* {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

#search_prezi_trigger {
    width: 15%;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #ccc;
    height: 40px
}

#search_prezi {
    margin-right: 2%;
    width: 83%;
    height: 40px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#search_prezi_trigger:hover { background-color: #e6e6e6;}

#search_prezi_trigger:active { background-color: #d4d4d4;}

.search-feed h2 {
    border-bottom: 1px solid #aaa;
    text-align: center;
    width: 80%;
    margin: 18px auto 5px auto;
}
.search-bar {
    width: 70%;
    margin: 0 auto;
}

.list_per_search ul{
    padding: 0px;
    position: relative;
    clear: both;
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.search-bar button, .prezi-item button, #more_items button {
    -moz-user-select: none;
    background-image: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

#more_items{
    position: relative;
    display: block;
    clear: both;
}

#more_items button{
    display: block;
    margin: 0 auto;
    width: 100px;
}


.prezi-item{
    border: 1px solid #e8e5e8;
    box-shadow: 5px 5px 3px 0 rgba(222, 222, 222, 1);
    display: block;
    float: left;
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    height: 240px;
    padding: 15px;
}

li.prezi-item > img, li.prezi-item > div {
    display: block;
    float: right;
    position: relative;
    right: 35px;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.prezi-item .prezi-item-content{
    margin: 0 auto;
    position: relative;
    display: block;
    padding: 2% 0px;
    width: 60%;
    float: left;
    overflow: hidden;
}

.prezi-item .prezi-item-info{
    padding: 0 30px;
}

.prezi-item a {
    display: block;
    float: left;
    margin: 20px 20px;
    padding: 0px;
    position: relative;
    width: 30%;
    overflow: hidden;
}

.prezi-item-content .prezi-item-info h3 {
    font-size: 20px;
    margin: 10px 0;
}

div.prezi-item-interaction button[type="button"]{
    display: inline-block;
    border: 1px solid transparent;
    text-decoration: none;
    padding: 4px 10px;
    font-size: x-large;
}

div.prezi-item-interaction button[type="button"]:hover{
    cursor: pointer;
}

div.prezi-item-interaction button[type="button"]:first-child{
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}


div.prezi-item-interaction button[type="button"]:first-child:hover{
    background-color: #31b0d5;
    border-color: #269abc;
    color: #fff;
}

div.prezi-item-interaction button[type="button"]:first-child:active{
    background-color: #269abc;
    border-color: #1b6d85;
    color: #fff;
}

div.prezi-item-interaction button[type="button"]:last-child {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

div.prezi-item-interaction button[type="button"]:last-child:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #FFF;
}

div.prezi-item-interaction button[type="button"]:last-child:active {
    background-color: #398439;
    border-color: #255625
    color: #FFF;
}
